@(pokemon : List[Pokemon])

@main("Index") {
<div id="typePage" style="height: 520px">
    <div id="categoryRightColumn">
        <table id="productTable">
        @for(poke <- pokemon){
                <tr>
                    <td>
                        <a href="/pokemon/@poke.getId()">
                            <img src="@(routes.Assets.at("img/pokemon/" + poke.getId()) + ".png")"
                                alt="@poke.getName()"/>
                        </a>
                    </td>

                    <td>
                        <a href="pokemon/@poke.getId()">
                            @poke.getName()
                        </a>
                    </td>

                    <td>
                        <a href="pokemon/@poke.getId()">
                            <span class="smallText">@poke.getAbilityI()</span>
                            <br>
                            <span class="smallText">@poke.getAbilityII()</span>
                        </a>
                    </td>
                </tr>
        }
    </table>
    </div>
</div>
}
