@(selectedPokemon : Pokemon)

@main(selectedPokemon.getName()) {
    <div>
        <a href="@routes.Application.pokemonEdit(selectedPokemon.getId())">
            Edit
        </a>
    </div>
    <div class="pokemonHeader">
        <div id="pokemonLeftHeader">
            @if(selectedPokemon.getId() > 1){
                <a href="@routes.Application.pokemon(selectedPokemon.getId()-1)" class="pokemonlink bubble"> No. @(selectedPokemon.getId() - 1)</a>
            }
        </div>
        <div id="pokemonRightHeader">
            @if(selectedPokemon.getId() < 151){
                <a href="@routes.Application.pokemon(selectedPokemon.getId() + 1)" class="pokemonlink bubble"> No. @(selectedPokemon.getId() + 1)</a>
            }
        </div>
    </div>    
    
    <div id="pokemonLeftColumn">
        <img src="@(routes.Assets.at("img/pokemon/" + selectedPokemon.getId()) + ".png")" alt="@selectedPokemon.getName()" class="pokemonImage"/>
                         
        <text id="switchSide"><tiny style="font-size: 10px; cursor: pointer">show backside</tiny></text>
    </div>
    
    <script>
    var front = true;
    
    d3.select('#switchSide')
            .on('click', function(){
                
                if (front){
                    d3.select('#sideImg')
                        .attr('src', '@(routes.Assets.at("img/pokemon/back/" + selectedPokemon.getId()) + ".png")');
                
                    d3.select(switchSide)
                        .style('font-size', '10px')
                        .style('cursor','pointer')
                        .text('show frontside');
                        
                    front = false;
                }
                else {
                    d3.select('#sideImg')
                        .attr('src', '@(routes.Assets.at("img/pokemon/back/" + selectedPokemon.getId()) + ".png")');
                
                    d3.select(switchSide)
                        .style('font-size', '10px')
                        .style('cursor','pointer')
                        .text('show backside');
                
                    front = true;
                }
            })
</script>

<div id="pokemonRightColumn" style="font-size: 12px">
    <br/>
    <text><strong>Height:</strong> @(selectedPokemon.getHeight()/10) m</text>
    <br/>
    <text><strong>Gender:</strong> @(selectedPokemon.getGender())</text>
    <br/>
    <br/>
    <text><strong>Ability I:</strong> @(selectedPokemon.getAbilityI())</text>
    <br/>
    <br/>
    <text><strong>Evolves at/by:</strong> @(selectedPokemon.getEvolvesBy())</text>
    <br/>
    <text><strong>Footprint: </strong></text>
    <img src="@(routes.Assets.at("img/footprints/" + selectedPokemon.getId() + ".png"))" class="thumbnail"/>
</div>

<div id="pokemonRightColumn" style="font-size: 12px">
    <br/>
    <text><strong>Weight:</strong> @(selectedPokemon.getWeight()/10)) kg</text>
    <br/>
    <br/>
    <br/>
    <text><strong>Ability II:</strong> @(selectedPokemon.getAbilityII())</text>
    <br/>
    <br/>
    <br/>
    <text>Evolves to: </text>
    @for(evolvee <- selectedPokemon.getEvolvesTo()){
    <a href="/pokemon/@evolvee.getId()" title="@evolvee.getName()" class="pokemonlink bubble"> 
        <img src="@(routes.Assets.at("img/pokemon/" + evolvee.getId() + ".png"))" class="thumbnail">
    </a>
    }
    <br/>
    <br/>
    <text id="cryLink"><strong>Cry: </strong></text>
    <audio id="cry" preload="auto">
        <source src="@(routes.Assets.at("sound/cries/" + selectedPokemon.getId() + ".mp3"))" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <input type="button" value="PLAY"  onclick="play()">
    <script>
        function play(){
            var audio = document.getElementById("cry");
            audio.play();
        }
   </script>
    
</div>
    
<div id="pokemonTyperow" style="margin-top: 5px">
    @for(t <- selectedPokemon.getTypeCollection()){
        <div class="typeBox">
            <a href="">
                <img src="@(routes.Assets.at("img/types/" + t.getId() + ".png"))"
                     alt="${t.getName()}" class="typeImage">
            </a>
        </div>
    }
</div>

<div id="pokemonFooter" style="font-size: 12px">
    <div class="pokemonFooterLeft">
        <text><strong>Hp: </strong></text>
        <br/>
        <text><strong>Attack: </strong></text>
        <br/>
        <text><strong>Defense: </strong></text>
    </div>
    <div class="pokemonFooterMiddle">
        <text>@(selectedPokemon.getHp())</text>
        <br/>
        <text>@(selectedPokemon.getAttack())</text>
        <br/>
        <text>@(selectedPokemon.getDefense())</text>
    </div>
    <div class="pokemonFooterRight">
        <progress max="250" value="@selectedPokemon.getHp()"></progress>
        <br/>
        <progress max="134" value="@selectedPokemon.getAttack()"></progress>
        <br/>
        <progress max="180" value="@selectedPokemon.getDefense()"></progress>
        <br/>
    </div>
    
    <div class="pokemonFooterLeft">
        <text><strong>Speed: </strong></text>
        <br/>
        <text><strong>S. attack: </strong></text>
        <br/>
        <text><strong>S. defense: </strong></text>
    </div>
    <div class="pokemonFooterMiddle">
        <text>@selectedPokemon.getSpeed()</text>
        <br/>
        <text>@selectedPokemon.getSpecialAttack()</text>
        <br/>
        <text>@selectedPokemon.getSpecialDefense()</text>
    </div>
    <div class="pokemonFooterRight">
        <progress max="140" value="@selectedPokemon.getSpeed()"></progress>
        <br/>
        <progress max="154" value="@selectedPokemon.getSpecialAttack()"></progress>
        <br/>
        <progress max="125" value="@selectedPokemon.getSpecialDefense()"></progress>
        <br/>
    </div>
    
    <div class="pokemonBigFooterLeft">
        <br/>
        <text><strong>Total Strength: </strong></text>
        <br/>
    </div>
    <div class="pokemonBigFooterMiddle">
        <br/>
        <text>@selectedPokemon.getTotal()</text>
        <br/>
    </div>
    <div class="pokemonBigFooterRight">
        <br/>
        <progress id="totalStrength" max="680" value="@selectedPokemon.getTotal()"></progress>
        <br/>
    </div>
</div>
        
<div id="pokemonFooter" style="font-size: 12px">
    <div class="pokemonBigFooterLeft">
        <br/>
        <text><strong>Catching chance: </strong></text>
        <br/>
    </div>
    <div class="pokemonBigFooterMiddle">
        <br/>
        <text id="catchChance2">@selectedPokemon.getTotal()</text>
        <br/>
    </div>
    <div class="pokemonBigFooterRight">
        <br/>
        <progress id="chanceBar" max="100" style="width: 630px; margin-left: 10px;"></progress>
        <br/>
    </div>
    <script>
        var chance =100 - Math.round(@(selectedPokemon.getTotal() - 195) / 6.05));
        
        d3.select("#catchChance2")
            .text(function(){
                return (chance + "%");
            });
        
        d3.select("#chanceBar")
            .attr('value', chance);
    </script>
</div>
}